//Colors
$dark-grey: #a9a9a9;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Spacing
$s-size: 1.3rem;
$m-size: 1.9rem;
$l-size: 3.2rem;
$xl-size: 5.8rem;
$desktop-breakpoint: 48rem;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;